<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
  </form>
  <title>Update user</title>
</head>
<body>
<form th:method="patch" th:action="@{/admin}" th:object="${user}">
  <table>
    <tr>
      <label for="id">ID</label>
      <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    </tr>
    <tr>
      <td><label for="username">Username: </label></td>
      <td><input type="text" th:field="*{username}" id="username"/></td>
    </tr>
    <tr>
      <td><label for="password">Password: </label></td>
      <td><input type="text" th:field="*{password}" id="password"/></td>
    </tr>
    <tr>
      <td><label for="email">Email: </label></td>
      <td><input type="text" th:field="*{email}" id="email"/></td>
    </tr>

      <td><p><input type="checkbox" name="roles" id="roles"
                    th:each="role : ${listRoles}" th:value="${role.id}" th:text="${role.rolename}"
                    th:field="*{roles[0].rolename}"></p></td>
  </table>
  <input type="submit" value="Update"/>
</form>
</body>
</html>