<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous"> <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .block {
        display: inline-block;
    }
    select {
        font-size: 120%;
        width: 45%;
    }
</style>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="bg-dark  ">
            <div class="d-inline">
            <span class="text-white h6">
                <strong><th:block th:text="${currentUser.getEmail()}">admin</th:block></strong>
            </span>
                &nbsp;
                <span class="text-white h6">
                    <strong>with roles :
                    <th:block th:each="role: ${currentUser.getRoles()}">
                        <div class="block" th:if="${role.rolename} == 'ROLE_ADMIN'">
                            Admin
                        </div>
                        <div class = "block" th:if="${role.rolename} == 'ROLE_USER'">
                            User
                        </div>
                    </th:block>
                    </strong>
            </span>
            </div>
            <div class="d-inline float-right nav mr-0 pr-0">
                <a class="text-secondary nav-item " th:href="@{/logout}">logout</a>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 0; padding-top: 20px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 20px; height: 100vh">
                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin Panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All Users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbodyAllUserTable">
                                        <tr th:each ="person : ${users}">
                                            <td th:utext="${person.getId()}">...</td>
                                            <td th:utext="${person.getFirstName()}">...</td>
                                            <td th:utext="${person.getLastName()}">...</td>
                                            <td th:utext="${person.getAge()}">...</td>
                                            <td th:utext="${person.getEmail()}">...</td>
                                            <td>
                                            <th:block th:each="role: ${person.getRoles()}">
                                                <div class="block" th:if="${role.rolename} == 'ROLE_ADMIN'">
                                                    Admin
                                                </div>
                                                <div class = "block" th:if="${role.rolename} == 'ROLE_USER'">
                                                    User
                                                </div>
                                            </th:block>
                                            </td>
                                            <td>
                                            <button type="button" class="btn btn-info" data-toggle="modal" th:data-target="${'#editUser' + person.id}">Edit</button>

                                                <!--Модальное окно редактирования-->
                                            <div class="modal fade" th:id="${'editUser' + person.id}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <form th:method="PATCH" th:action="@{/admin/{id}(id=${person.getId()})}" th:object="${person}" id="${'editUserForm' + person.getId()}">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit user</h5>
                                                                <button type="button" class="close" data-dismiss="modal">x</button>
                                                            </div>
                                                            <div class="modal-body text-center">
                                                                <div class="form-group required">
                                                                    <div class="controls">
                                                                        <p>
                                                                            <label for="idEditUser">
                                                                                <strong>ID</strong>
                                                                                <input class="form-control" type="number" th:value="${person.id}" name="id" id="idEditUser" disabled>
                                                                            </label>
                                                                        </p>
                                                                        <p>
                                                                            <label for="firstNameEditUser">
                                                                                <strong>First Name</strong>
                                                                                <input class="form-control" th:value="${person.firstName}" name="firstName" id="firstNameEditUser">
                                                                            </label>
                                                                        </p>
                                                                        <p>
                                                                            <label for="lastNameEditUser">
                                                                                <strong>Last Name</strong>
                                                                                <input class="form-control" th:value="${person.lastName}" name="lastName" id="lastNameEditUser">
                                                                            </label>
                                                                        </p>
                                                                        <p>
                                                                            <label for="ageEditUser">
                                                                                <strong>Age</strong>
                                                                                <input class="form-control" th:value="${person.age}" name="age" id="ageEditUser">
                                                                            </label>
                                                                        </p>
                                                                        <p>
                                                                            <label for="usernameEditUser">
                                                                                <strong>Username</strong>
                                                                                <input class="form-control" th:value="${person.username}" name="username" id="usernameEditUser">
                                                                            </label>
                                                                        </p>
                                                                        <p>
                                                                            <label for="emailEditUser">
                                                                                <strong>Email</strong>
                                                                                <input class="form-control" th:value="${person.email}" name="email" id="emailEditUser">
                                                                            </label>
                                                                        </p>
                                                                        <p>
                                                                            <label for="passwordEditUser">
                                                                                <strong>Password</strong>
                                                                                <input class="form-control" type="password" th:value="${person.password}" name="password" id="passwordEditUser">
                                                                            </label>
                                                                        </p>
                                                                        <p>
                                                                            <label class="container-fluid " for="rolesEditUser"><strong>Role</strong></label>
                                                                            <select id="rolesEditUser" class="form-select" size="2" name="listOfRoles" multiple="" required="required">
                                                                                <option selected="selected" value="1">USER</option>
                                                                                <option value="2">ADMIN</option>
                                                                            </select>
                                                                        </p>
                                                                        <br/><br/>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" id="editFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger" data-toggle="modal" th:data-target="${'#deleteUser' + person.id}">Delete</button>
                                            </td>
<!--                                                Модальное окно удаления-->
                                                <div class="modal fade" th:id="${'deleteUser' + person.id}" tabindex="-1" role="dialog" aria-labelledby="delete" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}" id="${'deleteUserForm' + person.getId()}">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Delete user</h5>
                                                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                                                </div>
                                                                <div class="modal-body text-center">
                                                                    <div class="form-group required">
                                                                        <div class="controls">
                                                                            <p>
                                                                                <label for="idDeleteUser">
                                                                                    <strong>ID</strong>
                                                                                    <input class="form-control" type="number" th:value="*{person.id}" name="id" id="idDeleteUser" disabled>
                                                                                </label>
                                                                            </p>
                                                                            <p>
                                                                                <label for="firstNameDeleteUser">
                                                                                    <strong>First Name</strong>
                                                                                    <input class="form-control" th:value="*{person.firstName}" name="firstName" id="firstNameDeleteUser" disabled>
                                                                                </label>
                                                                            </p>
                                                                            <p>
                                                                                <label for="lastNameDeleteUser">
                                                                                    <strong>Last Name</strong>
                                                                                    <input class="form-control" th:value="*{person.lastName}" name="lastName" id="lastNameDeleteUser" disabled>
                                                                                </label>
                                                                            </p>
                                                                            <p>
                                                                                <label for="ageDeleteUser">
                                                                                    <strong>Age</strong>
                                                                                    <input class="form-control" th:value="*{person.age}" name="age" id="ageDeleteUser" disabled>
                                                                                </label>
                                                                            </p>
                                                                            <p>
                                                                                <label for="emailDeleteUser">
                                                                                    <strong>Email</strong>
                                                                                    <input class="form-control" th:value="*{person.email}" name="email" id="emailDeleteUser" disabled>
                                                                                </label>
                                                                            </p>
                                                                            <p>
                                                                                <label for="usernameDeleteUser">
                                                                                    <strong>Username</strong>
                                                                                    <input class="form-control" th:value="*{person.username}" name="username" id="usernameDeleteUser" disabled>
                                                                                </label>
                                                                            </p>
                                                                            <p>
                                                                                <label class="container-fluid" for="rolesDeleteUser"><strong>Role</strong></label>
                                                                                <select id="rolesDeleteUser" class="form-select" size="2" name="listOfRoles" multiple="" required="required">
                                                                                    <option selected="selected" value="1">USER</option>
                                                                                    <option value="2">ADMIN</option>
                                                                                </select>
                                                                            </p>
                                                                            <br/><br/>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" id="deleteFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="newUser">
                            <div class="form group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">New user</h5>
                                        <div class="card-body text-center">
                                            <div class="form-justify-content-center mx-auto col-3">
                                                <form id="formNewUser" name="formNewUser" th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                                                    <p>
                                                        <label class="container-fluid" for="newUserUsername">
                                                            <strong>Username</strong>
                                                            <input class="form-control" type="text" th:field="*{username}" id="newUserUsername"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserFirstName">
                                                            <strong>First Name</strong>
                                                            <input class="form-control" type="text" th:field="*{firstName}" name="firstName" id="newUserFirstName">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserLastName">
                                                            <strong>Last Name</strong>
                                                            <input class="form-control" type="text" th:field="*{lastName}" name="lastName" id="newUserLastName">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserAge">
                                                            <strong>Age</strong>
                                                            <input class="form-control" type="text" th:field="*{age}" name="age" id="newUserAge">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserEmail">
                                                            <strong>Email</strong>
                                                            <input class="form-control" type="text" th:field="*{email}" name="email" id="newUserEmail">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserPassword">
                                                            <strong>Password</strong>
                                                            <input class="form-control" type="text" th:field="*{password}" name="password" id="newUserPassword">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid " for="newUserRoles"><strong>Role</strong></label>
                                                        <select style="width: 85%;" id="newUserRoles" class="form-select" size="2" name="listOfRoles" multiple="" required="required">
                                                            <option selected="selected" value="1">USER</option>
                                                            <option value="2">ADMIN</option>
                                                        </select>
                                                    </p>

                                                    <button type="submit" id="newUserButton" class="btn btn-success">Add new user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="tbodyAboutUser">
                                <td th:utext="${currentUser.getId()}">...</td>
                                <td th:utext="${currentUser.getFirstName()}">...</td>
                                <td th:utext="${currentUser.getLastName()}">...</td>
                                <td th:utext="${currentUser.getAge()}">...</td>
                                <td th:utext="${currentUser.getEmail()}">...</td>
                                <td>
                                    <th:block th:each="role: ${currentUser.getRoles()}">
                                        <div class="block" th:if="${role.rolename} == 'ROLE_ADMIN'">
                                            Admin
                                        </div>
                                        <div class = "block" th:if="${role.rolename} == 'ROLE_USER'">
                                            User
                                        </div>
                                    </th:block>
                                </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
</body>
</html>
