<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
          crossorigin="anonymous"> <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    select {
        font-size: 120%;
        width: 45%;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="info">
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 0; padding-top: 20px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 20px; height: 100vh">
                <div class="tab-pane fade show active" id="adminPanel">
                    <h2>Admin Panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" id="allUsersTable" href="#allUsers">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#newUser">New User</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="allUsers">
                            <div class="card">
                                <h5 class="card-header">All Users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-hover" id="tb">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="newUser">
                            <div class="form group">
                                <div class="control-group required">
                                    <div class="card">
                                        <h5 class="card-header">New user</h5>
                                        <div class="card-body text-center">
                                            <div class="form-justify-content-center mx-auto col-3">
                                                <form id="formNewUser" name="formNewUser">
                                                    <p>
                                                        <label class="container-fluid" for="newUserUsername">
                                                            <strong>Username</strong>
                                                            <input class="form-control" type="text" id="newUserUsername"/>
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserFirstName">
                                                            <strong>First Name</strong>
                                                            <input class="form-control" type="text" name="firstName" id="newUserFirstName">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserLastName">
                                                            <strong>Last Name</strong>
                                                            <input class="form-control" type="text" name="lastName" id="newUserLastName">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserAge">
                                                            <strong>Age</strong>
                                                            <input class="form-control" type="text" name="age" id="newUserAge">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserEmail">
                                                            <strong>Email</strong>
                                                            <input class="form-control" type="text"  name="email" id="newUserEmail">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid" for="newUserPassword">
                                                            <strong>Password</strong>
                                                            <input class="form-control" type="text" name="password" id="newUserPassword">
                                                        </label>
                                                    </p>
                                                    <p>
                                                        <label class="container-fluid " for="newUserRoles"><strong>Role</strong></label>
                                                        <select style="width: 85%;" id="newUserRoles" class="form-select" size="2" name="roles" multiple="" required="required">
                                                            <option selected="selected" value="1">USER</option>
                                                            <option value="2">ADMIN</option>
                                                        </select>
                                                    </p>

                                                    <button type="submit" id="newUserButton" class="btn btn-success">Add new user</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">
                            </div>

                            <div class="modal-footer">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/newUser.js"></script>
<script type="text/javascript" src="/header.js"></script>
<script type="text/javascript" src="/editUser.js"></script>
<script type="text/javascript" src="/deleteUser.js"></script>
</body>
</html>
