<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <title>Create user</title>
</head>
<body>
    <form th:method="post" th:action="@{/admin}" th:object="${user}">
        <table>
            <tr>
                <td><label for="firstName">Username: </label></td>
                <td><input type="text" th:field="*{username}" id="firstName"/></td>
            </tr>
            <tr>
                <td><label for="lastName">Password: </label></td>
                <td><input type="text" th:field="*{password}" id="lastName"/></td>
            </tr>
            <tr>
                <td><label for="email">Email: </label></td>
                <td><input type="text" th:field="*{email}" id="email"/></td>
            </tr>
            <tr>
                <td>
                    <label>Roles:
                        <select size="1" multiple name="listOfRoles" required="required">
                            <option selected="selected" value="1">USER</option>
                            <option value="2">ADMIN</option>
                        </select>
                    </label>
                </td>
            </tr>
        </table>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>