<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <title>User Panel</title>
</head>
<body>
<style>
    .block {
        display: inline-block;
    }
</style>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="bg-dark  ">
            <div class="d-inline">
            <span class="text-white h6">
<!--                <strong><th:block th:text="${user.getUsername()}">admin</th:block></strong>-->
            </span>
                &nbsp;
                <span class="text-white h6">
                    <strong>with roles :
<!--                    <th:block th:each="role: ${user.getRoles()}">-->
<!--                        <div class="block" th:if="${role.rolename} == 'ROLE_ADMIN'">-->
<!--                            Admin-->
<!--                        </div>-->
<!--                        <div class = "block" th:if="${role.rolename} == 'ROLE_USER'">-->
<!--                            User-->
<!--                        </div>-->
<!--                    </th:block>-->
                    </strong>
            </span>
            </div>
            <div class="d-inline float-right nav mr-0 pr-0">
                <a class="text-secondary nav-item " th:href="@{/logout}">logout</a>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 0; padding-top: 20px">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#userPanel">User</a>
                </li>
            </ul>
        </div>
        <div class="col-10 bg-light">
            <div class="tab-content" style="padding-top: 20px; height: 100vh">
                <div class="tab-pane fade show active" id="userPanel">
                    <h2>User information-page</h2>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped" id="userTable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/userInfo.js"></script>
</body>
</html>